
node_modules/
package-lock.json
dist/
coverage/

.env

.vscode/
.idea/*
!.idea/icon.svg
*.iml
*.ipr
*.iws
.classpath
.project
.settings
.springBeans
.metadata/
.cursor/

build/
bin/
out/
target/
classes/
buildSrc/build
spring-*/build
framework-*/build
integration-tests/build
src/asciidoc/build

*.log
jxl.log
jmx.log
derby.log
*.class

.gradle
.gradletasknamecache

ivy-cache

.DS_Store

*.java.hsp
*.sonarj
*.sw*
build.sh
integration-repo
argfile*
activemq-data/
cached-antora-playbook.yml
/.kotlin/
.postman/
spring-*/src/main/java/META-INF/MANIFEST.MF
test-output
atlassian-ide-plugin.xml