body {
    font-family: Arial;
    text-align: center;
    background-color:darksalmon
}

ul {
    list-style : none;
}

li {
    margin : 10px;
    background-color: indianred;
}

.completed {
    text-decoration: line-through;
    color:black;
}

